[Desktop Entry]
Version=1.0 
Comment=This is launcher 
Exec=/home/iss-user/.DoNotDelete/start-hdb-bto.sh
Icon=/home/iss-user/.DoNotDelete/hdb-bto.png
Terminal=true 
Type=Application
Name[en_SG]=HDB BTO
