[Desktop Entry]
Version=1.0 
Comment=This is launcher 
Exec=/home/iss-user/iss-vm-program/IRS/drools-distribution-7.9.0.Final/examples/runExamples.sh
Icon=/home/iss-user/.DoNotDelete/png-drools-logo.png
Terminal=true
Type=Application
Name[en_SG]=Tool Drools Examples
